[submodule "DAGGer/vendor/glfw"]
	path = DAGGer/vendor/glfw
	url = https://github.com/devonadams/glfw
[submodule "DAGGer/vendor/imgui"]
	path = DAGGer/vendor/imgui
	url = https://github.com/devonadams/imgui
	branch = docking
[submodule "DAGGer/vendor/yaml-cpp"]
	path = DAGGer/vendor/yaml-cpp
	url = https://github.com/devonadams/yaml-cpp
[submodule "DAGGer/vendor/ImGuizmo"]
	path = DAGGer/vendor/ImGuizmo
	url = https://github.com/devonadams/ImGuizmo
[submodule "DAGGer/vendor/DAALS"]
	path = DAGGer/vendor/DAALS
	url = https://github.com/devonadams/DAALS
[submodule "DAGGer/vendor/box2d"]
	path = DAGGer/vendor/box2d
	url = https://github.com/anonoei/box2d
