[submodule "RAPIER/vendor/glfw"]
	path = RAPIER/vendor/glfw
	url = https://github.com/daavofficial/glfw
[submodule "RAPIER/vendor/imgui"]
	path = RAPIER/vendor/imgui
	url = https://github.com/anonoei/imgui
	branch = docking
[submodule "RAPIER/vendor/yaml-cpp"]
	path = RAPIER/vendor/yaml-cpp
	url = https://github.com/anonoei/yaml-cpp
[submodule "RAPIER/vendor/ImGuizmo"]
	path = RAPIER/vendor/ImGuizmo
	url = https://github.com/anonoei/ImGuizmo
[submodule "RAPIER/vendor/DAALS"]
	path = RAPIER/vendor/DAALS
	url = https://github.com/anonoei/DAALS
[submodule "RAPIER/vendor/box2d"]
	path = RAPIER/vendor/box2d
	url = https://github.com/anonoei/box2d
