# Binaries
**/bin/
bin-int/
*.pyc

# DAGGer files
**.log
**.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
DAGGer/vendor/VulkanSDK
FORGE/assets/cache
scripts/__pycache__
vendor/premake/bin
