# Binaries
bin/
bin-int/
POMMEL/obj/
__pycache__/

# RAPIER files
**.log
**.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
RAPIER/vendor/VulkanSDK
FORGE/assets/cache
vendor/premake/bin
